@import "common.scss";
@import "mixin.scss";
.wrap{
    width:100%;
    height:100%;
    @include box_flex;
    @include direction(column);
}
header{
    width:100%;
    height:pxTorem(88px);
    padding:0 pxTorem(15px);
    box-sizing:border-box;
    .head{
        width:100%;
        height:pxTorem(44px);
        @include box_flex;
        @include align;
        @include justify(space-between);
        h3{
            font-size:pxTorem(16px);
        }
        .headRight{
            width:pxTorem(98px);
            height:pxTorem(30px);
            border:pxTorem(1px) solid #EAEAEA;
            border-radius:pxTorem(15px);
            @include box_flex;
            @include align;
            @include justify(space-around);
        }
    }
    .search{
        width: 100%;
        height:pxTorem(40px);
        background:#F0F1F2;
        border-radius:pxTorem(12px);
        @include box_flex;
        padding: 0 pxTorem(15px);
        box-sizing:border-box;
        @include align;
        img{
            margin-right:pxTorem(10px);
        }
        input{
            @include flex;
        }
    }
}
section{
       @include flex;
       padding:0 pxTorem(15px);
       box-sizing:border-box;
       .banner{
           width:100%;
           height:pxTorem(150px);
           img{
               width:100%;
               height:100%;
           }
       }
}
footer{
    width:100%;
    height:pxTorem(44px);
    background:#FAFAFA;
    @include box_flex;
    @include justify(space-around);
    @include align;
}